--
-- PostgreSQL database dump
--

\restrict 4McPaPThHj0MnoOrhp5wVZymNMvh5YEH0951iXG0e5ONnrgQ1FNgawOBHNvwrJ6

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg12+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: daily_steps; Type: TABLE; Schema: public; Owner: nutriagent
--

CREATE TABLE public.daily_steps (
    id integer NOT NULL,
    user_id integer NOT NULL,
    date date NOT NULL,
    steps integer NOT NULL,
    source text DEFAULT 'home'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.daily_steps OWNER TO nutriagent;

--
-- Name: daily_steps_id_seq; Type: SEQUENCE; Schema: public; Owner: nutriagent
--

CREATE SEQUENCE public.daily_steps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.daily_steps_id_seq OWNER TO nutriagent;

--
-- Name: daily_steps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nutriagent
--

ALTER SEQUENCE public.daily_steps_id_seq OWNED BY public.daily_steps.id;


--
-- Name: meal_images; Type: TABLE; Schema: public; Owner: nutriagent
--

CREATE TABLE public.meal_images (
    id text NOT NULL,
    meal_id integer NOT NULL,
    user_id integer NOT NULL,
    storage_key text NOT NULL,
    width integer NOT NULL,
    height integer NOT NULL,
    file_size_bytes integer NOT NULL,
    content_hash text NOT NULL,
    captured_at timestamp(3) without time zone NOT NULL,
    recognized_at timestamp(3) without time zone,
    vision_model_version text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.meal_images OWNER TO nutriagent;

--
-- Name: daily_steps id; Type: DEFAULT; Schema: public; Owner: nutriagent
--

ALTER TABLE ONLY public.daily_steps ALTER COLUMN id SET DEFAULT nextval('public.daily_steps_id_seq'::regclass);


--
-- Data for Name: daily_steps; Type: TABLE DATA; Schema: public; Owner: nutriagent
--

COPY public.daily_steps (id, user_id, date, steps, source, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: meal_images; Type: TABLE DATA; Schema: public; Owner: nutriagent
--



--
-- Name: daily_steps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nutriagent
--

SELECT pg_catalog.setval('public.daily_steps_id_seq', 1, false);


--
-- Name: daily_steps daily_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: nutriagent
--

ALTER TABLE ONLY public.daily_steps
    ADD CONSTRAINT daily_steps_pkey PRIMARY KEY (id);


--
-- Name: meal_images meal_images_pkey; Type: CONSTRAINT; Schema: public; Owner: nutriagent
--

ALTER TABLE ONLY public.meal_images
    ADD CONSTRAINT meal_images_pkey PRIMARY KEY (id);


--
-- Name: daily_steps_user_id_date_key; Type: INDEX; Schema: public; Owner: nutriagent
--

CREATE UNIQUE INDEX daily_steps_user_id_date_key ON public.daily_steps USING btree (user_id, date);


--
-- Name: meal_images_content_hash_idx; Type: INDEX; Schema: public; Owner: nutriagent
--

CREATE INDEX meal_images_content_hash_idx ON public.meal_images USING btree (content_hash);


--
-- Name: meal_images_meal_id_idx; Type: INDEX; Schema: public; Owner: nutriagent
--

CREATE INDEX meal_images_meal_id_idx ON public.meal_images USING btree (meal_id);


--
-- Name: meal_images_user_id_content_hash_idx; Type: INDEX; Schema: public; Owner: nutriagent
--

CREATE INDEX meal_images_user_id_content_hash_idx ON public.meal_images USING btree (user_id, content_hash);


--
-- Name: daily_steps daily_steps_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nutriagent
--

ALTER TABLE ONLY public.daily_steps
    ADD CONSTRAINT daily_steps_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: meal_images meal_images_meal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nutriagent
--

ALTER TABLE ONLY public.meal_images
    ADD CONSTRAINT meal_images_meal_id_fkey FOREIGN KEY (meal_id) REFERENCES public.meals(meal_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: meal_images meal_images_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nutriagent
--

ALTER TABLE ONLY public.meal_images
    ADD CONSTRAINT meal_images_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 4McPaPThHj0MnoOrhp5wVZymNMvh5YEH0951iXG0e5ONnrgQ1FNgawOBHNvwrJ6

